.wining-phone {
  display: flex;
  align-items: center;
}
.wining-phone img {
  width: 150px;
  height: 150px;
}
.wining-header {
  background-color: #87ceeb;
  padding: 10px;
  text-align: center;
}
